In [1]:
# schtock test

In [2]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 144000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); and Skype, Outlook.com, and OneDrive. It also provides LinkedIn that includes Talent and marketing solutions, and subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also provides support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment offers Windows OEM licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also provides Microsoft Surface, PC accessories, and other intelligent devices; Gaming, including Xbox hardware, and Xbox software and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through distributors and resellers; and directly through digital marketplaces, online stores, and retail stores. It has strategic partnerships with Humana Inc., Nokia, Telkomsel, Swiss Re, and Kubota Corporation. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Software—Infrastructure',
 'previousClose': 179.21,
 'regularMarketOpen': 175.8,
 'twoHundredDayAverage': 159.1616,
 'trailingAnnualDividendYield': 0.011104290000000001,
 'payoutRatio': 0.32330000000000003,
 'volume24Hr': None,
 'regularMarketDayHigh': 178.64,
 'navPrice': None,
 'averageDailyVolume10Day': 39879628,
 'totalAssets': None,
 'regularMarketPreviousClose': 179.21,
 'fiftyDayAverage': 161.23059,
 'trailingAnnualDividendRate': 1.99,
 'open': 175.8,
 'toCurrency': None,
 'averageVolume10days': 39879628,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1589932800,
 'beta': 0.962017,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 174.01,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 29.085306,
 'regularMarketVolume': 39370474,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1323841093632,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 55943544,
 'priceToSalesTrailing12Months': 9.544705,
 'dayLow': 174.01,
 'ask': 174.69,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 39370474,
 'fiftyTwoWeekHigh': 190.7,
 'forwardPE': 28.156454,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.9500000000000002,
 'fiftyTwoWeekLow': 119.01,
 'bid': 174.6,
 'tradeable': False,
 'dividendYield': 0.0114,
 'bidSize': 3000,
 'dayHigh': 178.64,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 9.158,
 'beta3Year': None,
 'profitMargins': 0.33356997,
 'enterpriseToEbitda': 19.819,
 '52WeekChange': 0.36223185,
 'morningStarRiskRating': None,
 'forwardEps': 6.2,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7583439872,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.086,
 'sharesShort': 53310482,
 'sharesPercentSharesOut': 0.0069999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1561852800,
 'heldPercentInstitutions': 0.7420300000000001,
 'netIncomeToCommon': 46265999360,
 'trailingEps': 6.002,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.03470111,
 'priceToBook': 11.571656,
 'heldPercentInsiders': 0.014249999000000001,
 'nextFiscalYearEnd': 1625011200,
 'mostRecentQuarter': 1585612800,
 'shortRatio': 0.8200000000000001,
 'sharesShortPreviousMonthDate': 1584057600,
 'floatShares': 7472418682,
 'enterpriseValue': 1270224125952,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.221,
 'dateShortInterest': 1586908800,
 'pegRatio': 2.07,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0069999998,
 'sharesShortPriorMonth': 55155176,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 175.8,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [34]:
# get historical market data
hist = msft.history(period="max")
print(hist.iloc[7000])

Open                  32.01
High                  32.24
Low                   31.84
Close                 32.15
Volume          31734200.00
Dividends              0.00
Stock Splits           0.00
Name: 2013-12-16 00:00:00, dtype: float64

In [15]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-02-20       0.46           0.0
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0

[74 rows x 2 columns]

In [20]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:


# show options expirations
msft.options

('2020-05-08',
 '2020-05-15',
 '2020-05-22',
 '2020-05-29',
 '2020-06-05',
 '2020-06-19',
 '2020-07-17',
 '2020-09-18',
 '2020-10-16',
 '2020-12-18',
 '2021-01-15',
 '2021-03-19',
 '2021-06-18',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16')

In [22]:


# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [23]:


# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2020-07-16 00:00:00  2020-07-20 00:00:00
Earnings Average                 1.39                 1.39
Earnings Low                     1.35                 1.35
Earnings High                    1.51                 1.51
Revenue Average           36518400000          36518400000
Revenue Low               36053000000          36053000000
Revenue High              37210000000          37210000000

In [24]:


# show analysts recommendations
msft.recommendations

                      Firm       To Grade From Grade Action
Date
2012-03-16  Argus Research            Buy                up
2012-03-19  Hilliard Lyons  Long-Term Buy              main
2012-03-22  Morgan Stanley     Overweight              main
2012-04-03             UBS            Buy              main
2012-04-20   Deutsche Bank            Buy              main
...                    ...            ...        ...    ...
2020-04-30          Mizuho            Buy              main
2020-04-30     Wells Fargo     Overweight              main
2020-04-30             UBS            Buy              main
2020-04-30  Morgan Stanley     Overweight              main
2020-04-30       Citigroup        Neutral              main

[281 rows x 4 columns]

In [25]:
# show sustainability
msft.sustainability

                                     Value
2020-3
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.87
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                         0
peerCount                              100
governanceScore                       5.24
environmentPercentile                    0
animalTesting                        False
tobacco                              False
totalEsg                             15.55
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.96
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.44
governancePercentile                     0
militaryContract                     False